:root {
  --color-1: #95e2cd;
  --color-2: #5dd1af;
  --color-3: #4dc0a2;
  --color-4: #ecc256;
  --color-5: #e57657;
  --color-6: #c25665;
  --color-7: #3a7695;
}

.border-green {
  border-color: var(--color-3);
}

.bg-dark-green {
  background-color: var(--color-3);
}
